*{
    margin: 0;
    padding: 0;
}
@media(max-width: 400px){
    #canvas{
        margin-top: -34px;
    }
}
body{
    position: fixed;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.header{
    height: 60px;
    background-color: lightblue;
    position: relative;
}
.header svg{
   display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 60px;
    margin-top: 14px;
    margin-left: 20px;
}
svg.active{
    fill: red;
}
ol{
    margin-left: 250px;
    margin-top: -33px;
}
ol>li{
    width: 20px;
    height: 20px;
    list-style: none;
    margin: 0 10px;
    border-radius: 10px; ;
    float: left;
}
ul{
    float: left;
    margin-left: 380px;
    list-style: none;
    margin-top: -10px;
}
ul>li{

}
#eraser{
    margin-top: -4px;
}


.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
#clear{
    stroke: black;
}
#canvas{
    background-color: #dddddd;
}
#red{
    background-color: red;

}
.color > .active{
    box-shadow: 2px 2px 2px #888888;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}